
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

html , body {
 margin: 0;
 padding: 0;
 text-align: center
}
*{
  font-family: "Readex Pro", sans-serif;
}

.form-validation {
  margin: 5px;
  color: rgb(255, 0, 0);
  font-size: 15px;
  
}


.kanban-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
 
}

.kanban-board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
#shopping-board {
  justify-content:space-around;
}
#shoppinglist{
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.kanban-heading-text {
 
  background-color: #ac73ff;
  padding: 0.8rem 1.7rem;
  border-radius: 0.5rem;
  margin: 1rem;
}
.content-display-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#transactions {
  margin-top: 50px;
width: 75%;
max-width: 1000px;
min-width: 280px;
margin-left: auto;
margin-right: auto;



}
.list-heading-button {
  
padding: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
  rgba(0, 0, 0, 0.08) 1px 1px 1px 1px;

  
}
#income {
  width:50%
}
#expense {
  width:50%;
  
}
.kanban-block{
  padding: 0.6rem;
  width: 45.5%;
 


  min-height: 4.5rem; 
  border-radius: 0.3rem;
  margin: 10px 5px;
}
 /* for mobile and tablets */
 @media screen and (max-width: 1000px) {
  .kanban-board {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;

}

.kanban-block{

  min-width: 350px;
  margin: 10px auto;
}
 }





.task {
  background-color: white;
  margin: 0.5rem 0rem 0.5rem 0rem;
  border-radius: 10px;
  padding: 0px 10px;
 
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.3);

  /* padding: 0.5rem 0.2rem 0.5rem 2rem; */
}
.handling-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.details-button {
 
    color: white;
    background:  #018b01;
    font-size: 12px;
    padding: 5px 5px;
    border-radius: 3px;
    border:none;
    margin:5px;
    cursor:pointer;
}
.summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 13px;
  text-align: start;
  margin-left: 5px;
  
}
#task-button {
  margin: 0.2rem 0.5rem 0.1rem 0rem;
  background:  #018b01;
  border-radius: 0.2rem;
  width: 65%;
  height: 40px;

  padding: 10px;
  border-radius: 0.3rem;
 font-size: 14px;
}
 

/* -----------modal----------- */


.modal{
  position:absolute;
  z-index: 1;
  left: 0;
  right: 110px;
  top: 140px;
  margin-left: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
  min-width: 280px;
  height: 500px;
  background-color: rgb(251, 251, 255);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;


}
 /* for mobile and tablets */
 @media screen and (max-width: 700px) {
  .modal{
    right: 0;
    max-width: 340px;
  min-width: 280px;
  }
 }
.close-icon {
  margin-left: 290px;
  font-size:30px;
  margin-bottom: 5px;
  
  -webkit-animation: bounce .73s infinite alternate;
  -moz-animation: bounce .73s infinite alternate;
  animation: bounce .73s infinite alternate;
  
}

/* -----authmodal---------- */

.auth-modal{
 
  position:absolute;
  left: 0;
  right: 0;
  top: 80px;
  margin-left: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  height: 600px;

  border-radius: 20px;
  padding: 30px;
  /* display: contents;
  overflow: visible; */

}

.auth-modal form {
  display: flex;
  flex-direction: column;
}

.auth-modal input  {
  padding: 8px;
  margin-bottom: 20px;
  font-size: 17 px;
  border-radius: 10px;
}
.toggle-icon {

  margin-left: 260px;
  margin-top: -45px;
  cursor: pointer;
  font-size: large;
}
.secondary-button {
  color: black;
 
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 30px;
  border: solid 2px black;
  margin: 40px 8px;
 
}








.create-new-task-block {

  /* display: flex; */
  background: #fcfafa;
  width: 90%;
  min-width: 320px;
  flex-direction: column;
  border-radius: 8px;
  margin: auto;
  padding-left: 0px;
}

.form-row {
  display: flex;
  flex-direction: row;
  margin: 0.2rem;
  border-radius: 10px;
}

.form-row-label {
  width: 80px;
  font-size: 12px;
  padding: 0.2rem;
  padding-right: 0.5rem;
  /* border: 0.1rem solid black; */
  /* border-right: 0; */
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  text-align: start;
}
form label {
  margin: 10px 0px;
}
form .multiple-input-container {
  display: flex;
  flex-direction: row;
 
}
form .multiple-input-container input {
  margin-right:10px;
  
}
form .multiple-input-container input[type="radio"] {
  display: none;
 
}
 form .multiple-input-container label{
  padding: 3px;
  border:solid 2px rgb(144,144,144);
  border-radius: 10px;
  transition: all 0.3s;
  margin-right: 10px;
  font-size: 14px;
}
 form input[type='radio']:checked +label {
  background:  rgb(217, 166, 72)
}


.form-row-input {
  /* border: 0.1rem solid black; */
  border-radius: 10px;
  width: 80%;
  margin: auto;
  min-width: 230px;
  min-height: 40px;
  overflow:hidden;
 
}

textarea {
  resize: none;
}

.form-row-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0.2rem;
}


#save-button {
  margin: 0.2rem -2.5rem 0.1rem 0rem;
  background-color: white;
  border-radius: 0.2rem;
  width: 49.2%;
  /* border: 0.25rem solid black; */
  padding: 0.5rem 2.7rem;
  border-radius: 15px;
  font-size: 1rem;
}

#edit-button {
  display: none;
}

#cancel-button {
  background:  linear-gradient(270deg, red, rgb(242, 143, 143));
 }

 #save-button {
  background:  linear-gradient(270deg, green, rgb(163, 245, 163));
 }


 /* --------Delete Dialog Box------------ */
 .fixed-modal {
  text-align: center;

  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modalContent {
  font-size: 16px;

  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 20px;
}
.close {
  color: rgb(255, 65, 65);
  float: right;
  font-size: 40px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: #ff1010;
  cursor: pointer;
}
.modalContent button {
  border: none;
  border-radius: 4px;
  font-size: 16px;

  padding: 10px;
}
.del {
  background-color: rgb(255, 65, 65);
  margin-right: 40px;
}
.del:hover {
  background-color: rgb(255, 7, 7);
}
.cancel:hover {
  background-color: rgb(167, 167, 167);
}



/* --------------Expense Management--------- */

.entry-buttons {
  
  justify-content: center;
padding:5px 20vw;


  margin-top: 20px;
  min-width: 200px;
  
 
}
#expense-button {
  margin: 0.2rem 0.5rem 0.1rem 0rem;
  background: rgb(240, 62, 62);
  border-radius: 0.2rem;
  width: 60%;
  height: 40px;

  padding: 10px;
  border-radius: 0.3rem;
 font-size: 14px;
}

/* -------------Table---------------- */

.table {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
margin-bottom: 0%;
min-width: 80%;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}
h2 small {
  font-size: 0.5em;
}

.responsive-table li {
  border-radius: 20px;
  padding: 5px 5px;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 10px;
 

}
.responsive-table .table-header {
  background-color: #95A5A6;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
}
.responsive-table .col-1 {
  flex-basis: 10%;
}
.responsive-table .col-2 {
  flex-basis: 40%;
}
.responsive-table .col-3 {
  flex-basis: 15%;
}
.responsive-table .col-4 {
  flex-basis: 25%;

}
.responsive-table .col-5 {
  flex-basis: 10%;
}
@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #6C7A89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: left;   
    
  }





  



}







/* ---------Onboarding----------- */
.onboarding {
 
}

.onboarding form {
  display: flex;
  justify-content: center;
  padding: 30px;
}



.onboarding form section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  
  text-align: start;
}

.onboarding form input {
  padding: 10px 30px;
  margin:20px 0px;
  font-size: 15px;
  border:solid 2px rgb(219, 219,219);
  border-radius: 10px;
  min-width: "300px"
}

.onboarding form input::-webkit-outer-spin-button
.onboarding form input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin:0;
}


.onboarding form label {
  margin: 10px 0px;
}


.onboarding form input[type='submit']:hover {
  background-color: rgb(226,115,155);
}
.onboarding form input[type='submit']:active {
  background-color: rgb(221, 15, 90);
}




