
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

html , body {
 margin: 0;
 padding: 0;
 text-align: center
}
*{
  font-family: "Readex Pro", sans-serif;
}

.form-validation {
  margin: 5px;
  color: rgb(255, 0, 0);
  font-size: 15px;
  
}
.container {
  width: 90%;

  margin: 40px 20px;
  display: flex;
  flex-direction: column;
}

.kanban-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
 
}

.kanban-board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.kanban-heading-text {
  font-size: 1.8rem;
  background-color: #ac73ff;
  padding: 0.8rem 1.7rem;
  border-radius: 0.5rem;
  margin: 1rem;
}

.kanban-block{
  padding: 0.6rem;
  width: 30.5%;

  min-height: 4.5rem; 
  border-radius: 0.3rem;
  margin: 10px;
}
 /* for mobile and tablets */
 @media screen and (max-width: 700px) {
  .kanban-board {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;

}
.kanban-block{
  min-width: 290px;
  margin: 10px auto;
}
 }
#todo {
  background-color: #fae2e7;
}





.task {
  background-color: #e1f5fe;
  margin: 0.5rem 0rem 0.3rem 0rem;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
  /* padding: 0.5rem 0.2rem 0.5rem 2rem; */
}
.handling-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.details-button {
 
    color: white;
    background:  #018b01;
    font-size: 12px;
    padding: 5px 5px;
    border-radius: 3px;
    border:none;
    margin:5px;
    cursor:pointer;
}
.summary {
  font-size: 13px;
  text-align: start;
}
#task-button {
  margin: 0.2rem 0rem 0.1rem 0rem;
  background:  #018b01;
  border-radius: 0.2rem;
  width: 60%;
  height: 40px;

  padding: 10px;
  border-radius: 0.3rem;
 font-size: 14px;
}
 

/* -----------modal----------- */


.modal{
  position:absolute;
  left: 0;
  right: 110px;
  top: 140px;
  margin-left: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 340px;
  min-width: 280px;
  height: 500px;
  background-color: rgb(251, 251, 255);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;


}
 /* for mobile and tablets */
 @media screen and (max-width: 700px) {
  .modal{
    right: 0;
  }
 }
.close-icon {
  margin-left: 290px;
  font-size:30px;
  margin-bottom: 5px;
  -webkit-animation: bounce .73s infinite alternate;
  -moz-animation: bounce .73s infinite alternate;
  animation: bounce .73s infinite alternate;
  
}
.create-new-task-block {

  /* display: flex; */
  background: #fcfafa;
  width: 320px;
  flex-direction: column;
  border-radius: 8px;
  margin: 0px;
  padding-left: 0px;
}

.form-row {
  display: flex;
  flex-direction: row;
  margin: 0.2rem;
  border-radius: 10px;
}

.form-row-label {
  width: 85px;
  padding: 0.2rem;
  padding-right: 0.5rem;
  /* border: 0.1rem solid black; */
  /* border-right: 0; */
  border-radius: 0.2rem 0rem 0rem 0.2rem;
}
form label {
  margin: 10px 0px;
}
form .multiple-input-container {
  display: flex;
  flex-direction: row;
 
}
form .multiple-input-container input {
  margin-right:10px;
  
}
form .multiple-input-container input[type="radio"] {
  display: none;
 
}
 form .multiple-input-container label{
  padding: 3px;
  border:solid 2px rgb(144,144,144);
  border-radius: 10px;
  transition: all 0.3s;
  margin-right: 10px;
  font-size: 14px;
}
 form input[type='radio']:checked +label {
  background:  rgb(217, 166, 72)
}


.form-row-input {
  /* border: 0.1rem solid black; */
  border-radius: 10px;
  width: 235px;
 
}

textarea {
  resize: none;
}

.form-row-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0.2rem;
}

#edit-button,
#save-button,
#cancel-button {
  margin: 0.2rem 0rem 0.1rem 0rem;
  background-color: white;
  border-radius: 0.2rem;
  width: 49.2%;
  /* border: 0.25rem solid black; */
  padding: 0.5rem 2.7rem;
  border-radius: 15px;
  font-size: 1rem;
}

#edit-button {
  display: none;
}

#cancel-button {
  background:  linear-gradient(270deg, red, rgb(242, 143, 143));
 }

 #save-button {
  background:  linear-gradient(270deg, green, rgb(163, 245, 163));
 }


 /* --------Delete Dialog Box------------ */
 .delete-modal {
  text-align: center;

  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modalContent {
  font-size: 20px;
  font-weight: bold;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 20px;
}
.close {
  color: rgb(255, 65, 65);
  float: right;
  font-size: 40px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: #ff1010;
  cursor: pointer;
}
.modalContent button {
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}
.del {
  background-color: rgb(255, 65, 65);
  margin-right: 40px;
}
.del:hover {
  background-color: rgb(255, 7, 7);
}
.cancel:hover {
  background-color: rgb(167, 167, 167);
}